.thumbnail
  a.thumbnail-image([routerLink]="['phone', phone.id]")
    img.img-responsive([src]="'assets/' + phone.imageUrl", alt="")
  .caption(style="height: 180px")
    a([routerLink]="['phone', phone.id]")
      h3 {{ phone.name }}
    p {{ phone.snippet | shortDescription }}
