nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      img(src="../../../assets/img/angular.png", alt="")
      a.navbar-brand.pull-right(href="#") Journey towards Angular 2
.container
  router-outlet
  ap-copyright
