.row
  .col-lg-12
    h1.page-header {{ 'phoneList.title' | translate }}

  .row.ap-search-panel
    .col-lg-12.form-inline
      ap-search-box((onInputChange)="phones.setSearchText($event)")
      | &nbsp;
      ap-carrier-select((onSelect)="phones.setSelectedCarrier($event)")
  .row
    .col-md-3.text-center(*ngFor="let phone of phones.getAll()")
      ap-list-item([phone]="phone")
    .col-lg-12(*ngIf="phones.getAll().length == 0")
      .alert.alert-warning(role="alert") {{ 'phoneList.noPhone' | translate }}
