.input-group
  input.form-control(
    type="text",
    [placeholder]="'searchPanel.placeholder' | translate",
    (keyup)="handleKeyUp($event)"
  )
  span.input-group-btn
    button.btn.btn-default(type="button")
      i.fa.fa-search
